<div class="main-card" [className]="shouldShrink ? 'single-card' : ''" (window:resize)="onResize($event)">
  <div class="left-card">
    <div class="main-login">
      <div class="logo-wrapper">
        <div class="logo"></div>
        <span class="app-title">Devscope</span>
      </div>
      <form class="login-form" novalidate (ngSubmit)="login()" [formGroup]="registerForm">
        <div class="form-group">
          <label for="email">Email or username</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" [ngClass]="{'is-invalid': (registerForm.get('email').touched || registerForm.get('email').dirty) && !registerForm.get('email').valid }">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': (registerForm.get('password').touched || registerForm.get('password').dirty) && !registerForm.get('password').valid }" >
        </div>
        <div class="form-group">
          <label for="btnLogin">&nbsp;</label>
          <button type="submit" class="btn btn-login" id="btnLogin" [disabled]="!registerForm.valid">Sign in</button>
        </div>
      </form>
    </div>
    <div class="complementary-login">
      <a>Forgot password?</a>
      <div class="horizontal-line"></div>
      <button class="btn btn-register" [routerLink]="['/register']">Create an account</button>
    </div>
  </div>
  <div class="right-card">

  </div>
</div>
