<mat-toolbar>
  <mat-toolbar-row>
    <div class="flex-box">
      <span class="app-title">DevScope</span>
      <input class="search-input" placeholder="Search...">
    </div>
    <span class="fill-space"></span>
    <div class="btn-wrapper">
      <button class="btn-acct-manager btn-login" [routerLink]="['login']">Entrar</button>
      <button class="btn-acct-manager btn-signup" [routerLink]="['register']">Inscreva-se</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Apps">
        <mat-icon>apps</mat-icon>
      </button>
      <i class="fas fa-th"></i>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span routerLink="about">Quem somos ?</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
