<p>fafs</p>

<div class="card-body">
    <form novalidate (ngSubmit)="register()" [formGroup]="registerForm">

        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="fullNameId">First Name</label>
            <div class="col-md-8">
              <input class="form-control" id="fullNameId" type="text" placeholder="First Name (required)"
                formControlName="fullName"
                [ngClass]="{'is-invalid': (registerForm.get('fullName').touched || registerForm.get('fullName').dirty) && !registerForm.get('fullName').valid }" />
              <span class="invalid-feedback">
                <span *ngIf="registerForm.get('fullName').errors?.required">
                  Favor digitar seu nome completo.
                </span>
                <span *ngIf="registerForm.get('fullName').errors?.minlength">
                  The first name must be longer than 3 characters.
                </span>
              </span>
            </div>
          </div>

    </form>
</div>