<div class="container-fluid w-100 h-100 body-wallpaper">
  <div class="row">
    <div class="col-md-12 mt-4 pr-0 d-flex align-items-center">
      <div class="logo"></div>
      <span class="app-title">Devscope</span>
    </div>
  </div>

  <div class="row vertical-align align-items-center">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <mat-expansion-panel hideToggle="true" [expanded]="firstFormOptions[0].expanded" >

            <mat-expansion-panel-header [collapsedHeight]="'15vh'">
              <mat-panel-title>
                <div class="row pl-3 align-items-center w-100">
                  <div class="circle">
                    1
                  </div>
                  Dados Pessoais
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col-md-8 col-xs-12">

                <hr class="mt-0" />

                <form novalidate (ngSubmit)="firstFormRegister()" [formGroup]="registerFirstForm">
                  <div class="row pb-4">
                    <div class="col-md-8">
                      <div class="form group">
                        <label class="col-form-label" for="fullNameId">Nome Completo</label>
                        <input class="form-control" id="fullNameId" type="text" formControlName="fullName"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('fullName').touched || registerFirstForm.get('fullName').dirty) && !registerFirstForm.get('fullName').valid }" />
                          <span class="invalid-feedback position-absolute">
                            <span *ngIf="registerFirstForm.get('fullName').errors?.required">
                              Favor inserir o seu nome completo.
                            </span>
                          </span>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form group">
                        <label class="col-form-label" for="genreId">Sexo</label>
                        <select class="form-control" id="genreId" formControlName="genre"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('genre').touched || registerFirstForm.get('genre').dirty) && !registerFirstForm.get('genre').valid }">
                          <option>Masculino</option>
                          <option>Feminino</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row pb-4">
                    <div class="col-md-4">
                      <div class="form group">
                        <label class="col-form-label" for="birthDateId">Data de Nascimento</label>
                        <input class="form-control" id="birthDateId" type="text" formControlName="birthDate"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('birthDate').touched || registerFirstForm.get('birthDate').dirty) && !registerFirstForm.get('birthDate').valid }" />
                        <span class="invalid-feedback position-absolute">
                          <span *ngIf="registerFirstForm.get('birthDate').errors?.required">
                            Favor inserir a sua data de nascimento.
                          </span>
                        </span>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form group">
                        <label class="col-form-label" for="telephoneId">Telefone</label>
                        <input class="form-control" id="telephoneId" type="tel" formControlName="telephone"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('telephone').touched || registerFirstForm.get('telephone').dirty) && !registerFirstForm.get('telephone').valid }" />
                        <span class="invalid-feedback position-absolute">
                          <span *ngIf="registerFirstForm.get('telephone').errors?.required">
                            Favor digitar o seu número de telefone.
                          </span>
                          <span *ngIf="registerFirstForm.get('telephone').errors?.minlength || registerFirstForm.get('telephone').errors?.maxlength">
                            Favor digitar um telefone válido.
                          </span>                          
                        </span>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form group">
                        <label class="col-form-label" for="cellphoneId">Celular</label>
                        <input class="form-control" id="cellphoneId" type="tel" formControlName="cellphone"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('cellphone').touched || registerFirstForm.get('cellphone').dirty) && !registerFirstForm.get('cellphone').valid }" />
                        <span class="invalid-feedback position-absolute">
                          <span *ngIf="registerFirstForm.get('cellphone').errors?.required">
                            Favor digitar o seu número de celular.
                          </span>
                          <span *ngIf="registerFirstForm.get('cellphone').errors?.minlength || registerFirstForm.get('cellphone').errors?.maxlength">
                            Favor digitar um celular válido.
                          </span>                          
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row pb-4">
                    <div class="col-md-8">
                      <div class="form group">
                        <label class="col-form-label" for="addressId">Endereço</label>
                        <input class="form-control" id="addressId" type="text" formControlName="address"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('address').touched || registerFirstForm.get('address').dirty) && !registerFirstForm.get('address').valid }" />
                          <span class="invalid-feedback position-absolute">
                            <span *ngIf="registerFirstForm.get('address').errors?.required">
                              Favor inserir o seu endereço.
                            </span>
                          </span>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form group">
                        <label class="col-form-label" for="cepId">CEP</label>
                        <input class="form-control" id="cepId" type="text" formControlName="cep"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('cep').touched || registerFirstForm.get('cep').dirty) && !registerFirstForm.get('cep').valid }" />
                          <span class="invalid-feedback position-absolute">
                            <span *ngIf="registerFirstForm.get('cep').errors?.required">
                              Favor inserir o seu cep.
                            </span>
                          </span>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-2">
                      <div class="form group">
                        <label class="col-form-label" for="addressNumberId">Número</label>
                        <input class="form-control" id="addressNumberId" type="text" formControlName="addressNumber"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('addressNumber').touched || registerFirstForm.get('addressNumber').dirty) && !registerFirstForm.get('addressNumber').valid }" />
                      </div>
                      <span class="invalid-feedback position-absolute">
                        <span *ngIf="registerFirstForm.get('addressNumber').errors?.required">
                          Favor inserir o número da sua residência.
                        </span>
                      </span>
                    </div>

                    <div class="col-md-6">
                      <div class="form group">
                        <label class="col-form-label" for="stateId">Estado</label>
                        <input class="form-control" id="stateId" type="text" formControlName="state"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('state').touched || registerFirstForm.get('state').dirty) && !registerFirstForm.get('state').valid }" />
                          <span class="invalid-feedback position-absolute">
                            <span *ngIf="registerFirstForm.get('state').errors?.required">
                              Favor inserir o estado na qual reside.
                            </span>
                          </span>
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form group">
                        <label class="col-form-label" for="cityId">Cidade</label>
                        <input class="form-control" id="cityId" type="text" formControlName="city"
                          [ngClass]="{'is-invalid': (registerFirstForm.get('city').touched || registerFirstForm.get('city').dirty) && !registerFirstForm.get('city').valid }" />
                          <span class="invalid-feedback position-absolute">
                            <span *ngIf="registerFirstForm.get('state').errors?.required">
                              Favor inserir a cidade na qual reside.
                            </span>
                          </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-success mt-4 mb-4 float-right">
                        Próximo
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4 d-none d-sm-block">
                <div class="row h-50 align-items-center">
                  <div class="col-md-12 text-center">
                    <div class="display-4">Bem Vindo!</div>
                  </div>
                </div>
                <div class="row h-50">
                  <div class="col-md-12 text-center">
                    <h2>
                      <span class="align-text-top">Estávamos aguardando a sua chegada.</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-expansion-panel hideToggle="true" [expanded]="secondFormOptions[0].expanded"
            [disabled]="secondFormOptions[0].disabled">
            <mat-expansion-panel-header [collapsedHeight]="'15vh'">
              <mat-panel-title>
                <div class="row pl-3 align-items-center w-100">
                  <div class="circle">
                    2
                  </div>
                  Email e Senha
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <hr class="mt-0" />

            <form novalidate (ngSubmit)="secondFormRegister()" [formGroup]="registerSecondForm">
              <div formGroupName="emailGroup">
                <div class="row pb-4">
                  <div class="col-md-6">
                    <div class="form group">
                      <label class="col-form-label" for="emailId">Email</label>
                      <input class="form-control" 
                             id="emailId"
                             type="text"
                             formControlName="email"                             
                             [ngClass]="{'is-invalid': registerSecondForm.get('emailGroup').errors ||
                                                       (registerSecondForm.get('emailGroup.email').touched ||
                                                       registerSecondForm.get('emailGroup.email').dirty) && 
                                                       !registerSecondForm.get('emailGroup.email').valid }" />
                        <span class="invalid-feedback position-absolute">
                          <span *ngIf="registerSecondForm.get('emailGroup.email').errors?.required">
                            Favor inserir o seu endereço de email.
                          </span>
                          <span *ngIf="registerSecondForm.get('emailGroup.email').errors?.email">
                            Favor digitar um endereço de email válido.
                          </span>
                        </span>                                                       
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form group">
                      <label class="col-form-label" for="ConfirmEmailId">Confirmação de email</label>
                      <input class="form-control" id="ConfirmEmailId" type="text" formControlName="confirmEmail"
                        [ngClass]="{'is-invalid': registerSecondForm.get('emailGroup').errors ||
                                                  ((registerSecondForm.get('emailGroup.confirmEmail').touched ||
                                                   registerSecondForm.get('emailGroup.confirmEmail').dirty) &&
                                                   !registerSecondForm.get('emailGroup.confirmEmail').valid) }" />
                        <span class="invalid-feedback position-absolute">
                          <span *ngIf="registerSecondForm.get('emailGroup.confirmEmail').errors?.required">
                            Favor confirmar o seu endereço de email.
                          </span>
                          <span *ngIf="registerSecondForm.get('emailGroup.confirmEmail').errors?.email">
                            Favor digitar um endereço de email válido.
                          </span>
                          <span *ngIf="registerSecondForm.get('emailGroup').errors?.match">
                            Os emails devem ser idênticos.
                          </span>
                        </span>
                    </div>
                  </div>
                </div>
              </div>

              <div formGroupName="passwordGroup">
                <div class="row pb-4">
                  <div class="col-md-6">
                    <div class="form group">
                      <label class="col-form-label" for="passwordId">Senha</label>
                      <input class="form-control" id="passwordId" type="password" formControlName="password"
                        [ngClass]="{'is-invalid': registerSecondForm.get('passwordGroup').errors ||
                                                  ((registerSecondForm.get('passwordGroup.password').touched || 
                                                  registerSecondForm.get('passwordGroup.password').dirty) &&
                                                  !registerSecondForm.get('passwordGroup.password').valid) }" />
                      <span class="invalid-feedback position-absolute">
                        <span *ngIf="registerSecondForm.get('passwordGroup.password').errors?.required">
                          Favor inserir uma senha.
                        </span>
                      </span>
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form group">
                      <label class="col-form-label" for="confirmPasswordId">Confirmação de senha</label>
                      <input class="form-control" id="confirmPasswordId" type="password" formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': registerSecondForm.get('passwordGroup').errors ||
                                                   ((registerSecondForm.get('passwordGroup.confirmPassword').touched ||
                                                   registerSecondForm.get('passwordGroup.confirmPassword').dirty) &&
                                                   !registerSecondForm.get('fullName').valid) }" />
                        <span class="invalid-feedback position-absolute">
                          <span *ngIf="registerSecondForm.get('passwordGroup.confirmPassword').errors?.required">
                            Favor confirmar uma senha.
                          </span>
                          <span *ngIf="registerSecondForm.get('passwordGroup').errors?.match">
                            As senhas devem ser idênticas.
                          </span>
                        </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-success mt-4 mb-4 float-right">
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>