mat-toolbar, mat-toolbar-row {
    background-color: #1C1D1F;
    border-bottom: 1px solid #3C3F44;
    justify-content: space-between;
    color: white;
}

.fill-space {
     /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.search-input {
    background: #3C3F44 url('../../../../assets/icons/search-24px.svg') left no-repeat;
    background-position: 1% 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .25rem;
    font-size: medium;
    color: #fff;
    width: 35vw;
    height: 5vh;
    padding: 5px;
    padding-left:35px;
    border: 0;
}

.search-input::placeholder {
    font-size: medium;
    font-weight: bolder;
}

.acct-icon {
    width: 24px;
    height: 24px;
    background: url('../../../../assets/icons/account_circle-24px.svg');
}