mat-toolbar, mat-toolbar-row {
    background-color: #0C0D14;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /*border-bottom: 1px solid #2b303d;*/
    justify-content: flex-end;
    color: white;
}

.mat-icon {
  font-size: 35px;
}

.fill-space {
     /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.app-title {
    margin-right: 3.5vw;
}

.flex-box {
  height: 100%;
  width: 67%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-input {
    background: #181C28 url('../../../../assets/icons/search-24px.svg') no-repeat 1% 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .25rem;
    font-size: small;
    color: #fff;
    width: 35vw;
    height: 60%;
    padding: 5px 5px 5px 35px;
    border: 0;
}

.btn-wrapper {
  flex-grow: 0;
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(2, 1fr) .2fr;
  justify-items: center;
}

.btn-acct-manager {
  border-radius: 1.25rem;
  font-size: medium;
  border: none;
  color: white;
}

.btn-login {
  background: #53A788;
  margin-right: 5px;
  width: 100px;
}

.btn-signup {
  background: #5ea873;
  width: 120px;
}

.search-input::placeholder {
    font-size: medium;
    font-weight: bolder;
}

.acct-icon {
    width: 24px;
    height: 24px;
    background: url('../../../../assets/icons/account_circle-24px.svg');
}
