mat-toolbar, mat-toolbar-row {
    background-color: #0C0D14;
    border-bottom: 1px solid #181C28;
    justify-content: space-evenly;
    color: white;
}

.mat-icon {
  font-size: 35px;
}

.fill-space {
     /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.app-title {
    /*margin-left: 15vw;*/
}

.search-input {
    background: #181C28 url('../../../../assets/icons/search-24px.svg') no-repeat 1% 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .25rem;
    font-size: medium;
    color: #fff;
    width: 35vw;
    height: 4vh;
    padding: 5px 5px 5px 35px;
    border: 0;
}

.btn-wrapper {
  width: 15vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
}

.btn-acct-manager {
  border-radius: 1.25rem;
  font-size: medium;
  border: none;
  color: white;
}

.btn-login {
  background: #53A788;
  width: 4vw;
}

.btn-signup {
  background: #5ea873;
  width: 6vw;
}

.search-input::placeholder {
    font-size: medium;
    font-weight: bolder;
}

.acct-icon {
    width: 24px;
    height: 24px;
    background: url('../../../../assets/icons/account_circle-24px.svg');
}
