<main (resize)="onresize($event)">
  <div class="padded-container">
    <div class="return">
      <div class="logo"></div>
      <a routerLink="/" class="app-title">DevScope</a>
    </div>
    <div class="card-1">
      <div class="priority">
        <div class="priority-wrapper">
          <p class="priority-title">Unir a comunidade é, e sempre será nossa prioridade</p>
          <p class="priority-message">
            Nós acreditamos nisso até quando nossos parceiros
            executam um update sem "where". Queremos
            compartilhar momentos bons e ruins, sendo eles um
            código compilado ou um erro em base de produção,
            seja qual for ele, conta pra gente!
          </p>
        </div>
      </div>
      <div class="bongo-cat">
        <app-bongo-cat></app-bongo-cat>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="wrapper">
      <div class="singleton-card">
        <p class="title">Quem Somos</p>
        <p class="message">
          Somos uma equipe composta por pessoas que amam 2 coisas, café e
          programação. Sendo Devs, sabemos da importancia da comunidade
          em nossas formações, com isso, decidimos criar a DevScope, que é
          nada mais que uma forma de nos conectar com pessoas que tem o
          mesmo sentimento que nós.
        </p>
      </div>
    </div>
    <div class="card-3">
      <p>sky here</p>
    </div>
    <div class="wrapper">
      <div class="singleton-card">
        <p class="title">"Mas afinal de contas, quem exatamente são vocês?"</p>
        <p class="answer">Ótima pergunta! Conheça agora nossa equipe de heróis.</p>
      </div>
    </div>
  </div>
  <div class="wrapper us" style="height:1100px;">
    <div class="floating-card-wrapper">
      <app-about-floating-card name="DevScope" role="" description="Amamos tanto que faz parte da equipe"></app-about-floating-card>
      <app-about-floating-card name="Nask" role="Líder de design" description="Além de desenvolvimento e café, ama jogos de todos os gêneros."></app-about-floating-card>
      <app-about-floating-card name="Matheus" role="Lider de desenvolvimento" description="Está em sua jornada para conquistar seu PC gamer."></app-about-floating-card>
      <app-about-floating-card name="Leonardo" role="Desenvolvedor" description="Se ver engrenagens saindo dele não estranhe, todos sabem que ele é um robô."></app-about-floating-card>
      <app-about-floating-card name="Aline" role="Designer" description="A frase “As vezes dou uma sumida, mas sempre estou pela área” a define bem."></app-about-floating-card>
      <app-about-floating-card name="Vitor" role="Designer" description="Não se sabe se é nerd ou popular, de qualquer modo navega entre os melhores dos dois mundos."></app-about-floating-card>
    </div>
  </div>
  <div class="padded-container">
    <div class="wrapper">
      <div class="singleton-card">
        <p class="title">E aí, Dev?</p>
        <p class="message">O que achou dos nossos “Avengers”? Legal né! Se ainda assim tiver alguma dúvida, é só nos dizer!</p>
      </div>
    </div>
  </div>
  <div class="line-break"></div>
  <div class="line-break"></div>
  <footer>
    <div class="padded-container">
      <div class="return">
        <div class="logo"></div>
        <a routerLink="/" class="app-title">DevScope</a>
      </div>
    </div>
  </footer>
</main>
