<main>
  <div class="padded-container">
    <div class="return">
      <div class="logo"></div>
      <a routerLink="/" class="app-title">DevScope</a>
    </div>
    <div class="card-1">
      <div class="priority">
        <div class="priority-wrapper">
          <p class="priority-title">Unir a comunidade é, e sempre será nossa prioridade</p>
          <p class="priority-message">
            Nós acreditamos nisso até quando nossos parceiros
            executam um update sem "where". Queremos
            compartilhar momentos bons e ruins, sendo eles um
            código compilado ou um erro em base de produção,
            seja qual for ele, conta pra gente!
          </p>
        </div>
      </div>
      <div class="bongo-cat">
        <p>bongo cat here</p>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="wrapper">
      <div class="singleton-card">
        <p class="title">Quem Somos</p>
        <p class="message">
          Somos uma equipe composta por pessoas que amam 2 coisas, café e
          programação. Sendo Devs, sabemos da importancia da comunidade
          em nossas formações, com isso, decidimos criar a DevScope, que é
          nada mais que uma forma de nos conectar com pessoas que tem o
          mesmo sentimento que nós.
        </p>
      </div>
    </div>
    <div class="card-3">
      <p>sky here</p>
    </div>
    <div class="wrapper">
      <div class="singleton-card">
        <p class="title">"Mas afinal de contas, quem exatamente são vocês?"</p>
        <p class="answer">Ótima pergunta! Conheça agora nossa equipe de heróis.</p>
      </div>
    </div>
  </div>
  <div class="wrapper us" style="height:1100px;">
    <div class="floating-card-wrapper">
      <div class="floating-card">
        <div class="circle"></div>
        <h2>DevScope</h2>
        <p>Amamos tanto que faz parte da equipe</p>
      </div>
      <div class="floating-card">
        <div class="circle"></div>
        <h2>Nask</h2>
        <h3>Líder de design</h3>
        <p>Além de desenvolvimento e café, ama jogos de todos os gêneros.</p>
      </div>
      <div class="floating-card">
        <div class="circle"></div>
        <h2>Matheus</h2>
        <h3>Lider de desenvolvimento</h3>
        <p>Está em sua jornada para conquistar seu PC gamer.</p>
      </div>
      <div class="floating-card">
        <div class="circle"></div>
        <h2>Leonardo</h2>
        <h3>Desenvolvedor</h3>
        <p>Se ver engrenagens saindo dele não estranhe, todos sabem que ele é um robô.</p>
      </div>
      <div class="floating-card">
        <div class="circle"></div>
        <h2>Aline</h2>
        <h3>Designer</h3>
        <p>A frase “As vezes dou uma sumida, mas sempre estou pela área” a define bem.</p>
      </div>
      <div class="floating-card">
        <div class="circle"></div>
        <h2>Vitor</h2>
        <h3>Designer</h3>
        <p>Não se sabe se é nerd ou popular, de qualquer modo navega entre os melhores dos dois mundos.</p>
      </div>
    </div>
  </div>
  <div class="padded-container">
    <div class="wrapper">
      <div class="singleton-card">
        <p class="title">E aí, Dev?</p>
        <p class="message">O que achou dos nossos “Avengers”? Legal né! Se ainda assim tiver alguma dúvida, é só nos dizer!</p>
      </div>
    </div>
  </div>
  <div class="line-break"></div>
  <div class="line-break"></div>
  <footer>
    <div class="padded-container">
      <div class="return">
        <div class="logo"></div>
        <a routerLink="/" class="app-title">DevScope</a>
      </div>
    </div>
  </footer>
</main>
